# Importing the Libraries

In [3]:
import pandas as pd
from pandas import DataFrame
import urllib.request 
import urllib
import datetime 
import pandas_datareader.data as web
from pandas_datareader import data, wb
import json
import numpy as py

# Reading the Data Breaches dataset cleaned for Lab 2

In [4]:
df = pd.read_excel('DatABreachesCleaned.xlsx')

In [5]:
df.head()

,Entity,Year,Records Lost,Organization,Method of Leak,Sensitivity
0,0,"years are encoded (0=2004, 8 = 2012, 9 = 2013,...","(use 3m, 4m, 5m or 10m to approximate unknown ...",0,0,1. Just email address/Online information 20 SS...
1,AOL,2004,92000000,web,inside job,1
2,Automatic Data Processing,2005,125000,financial,poor security,20
3,Ameritrade Inc.,2005,200000,financial,lost / stolen device,20
4,Citigroup,2005,3900000,financial,lost / stolen device,300

In [91]:
! pip install fuzzywuzzy

Requirement already satisfied: fuzzywuzzy in c:\users\muhammadadeel\anaconda3\lib\site-packages

In [92]:
! pip install pandas-datareader

Requirement already satisfied: pandas-datareader in c:\users\muhammadadeel\anaconda3\lib\site-packages
Requirement already satisfied: requests-file in c:\users\muhammadadeel\anaconda3\lib\site-packages (from pandas-datareader)
Requirement already satisfied: requests-ftp in c:\users\muhammadadeel\anaconda3\lib\site-packages (from pandas-datareader)
Requirement already satisfied: pandas>=0.17.0 in c:\users\muhammadadeel\anaconda3\lib\site-packages (from pandas-datareader)
Requirement already satisfied: requests>=2.3.0 in c:\users\muhammadadeel\anaconda3\lib\site-packages (from pandas-datareader)
Requirement already satisfied: six in c:\users\muhammadadeel\anaconda3\lib\site-packages (from requests-file->pandas-datareader)
Requirement already satisfied: python-dateutil>=2 in c:\users\muhammadadeel\anaconda3\lib\site-packages (from pandas>=0.17.0->pandas-datareader)
Requirement already satisfied: pytz>=2011k in c:\users\muhammadadeel\anaconda3\lib\site-packages (from pandas>=0.17.0->pandas-datareader)
Requirement already satisfied: numpy>=1.7.0 in c:\users\muhammadadeel\anaconda3\lib\site-packages (from pandas>=0.17.0->pandas-datareader)

In [93]:
data = ur.urlopen('http://d.yimg.com/autoc.finance.yahoo.com/autoc?query=%7B%7D&region=1&lang=en').read()

# Cleaning the Row 0 having null values

In [6]:
df1 = df.drop(df.index[[0]])
df1.head()

,Entity,Year,Records Lost,Organization,Method of Leak,Sensitivity
1,AOL,2004,92000000,web,inside job,1
2,Automatic Data Processing,2005,125000,financial,poor security,20
3,Ameritrade Inc.,2005,200000,financial,lost / stolen device,20
4,Citigroup,2005,3900000,financial,lost / stolen device,300
5,Cardsystems Solutions Inc.,2005,40000000,financial,hacked,300

In [338]:


def get_symbol(name):
    url = "http://d.yimg.com/autoc.finance.yahoo.com/autoc?query={}&region=1&lang=en".format(name)
    
    result = json.load(urllib.urlopen(url))

    #result = requests.get(url).json()
    return result['ResultSet']['Query']

    my_list = df.Entity.T.tolist()
    for xyz in my_list:
        my_list_a=get_symbol(xyz)
    print(my_list_a)

In [11]:
symbols_list=['AOL', 'C', 'HPE','GPS', 'FNFV','SBUX']

start = datetime.datetime(2005, 1, 1)

end = datetime.datetime.today()

f = web.DataReader(symbols_list, 'yahoo', start, end)
    
close = f.to_frame()

C:\Users\MuhammadAdeel\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'AOL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

In [12]:
print (close)

                   Adj Close       Close        High         Low        Open  \
Date       minor
2005-01-03 C      393.000092  482.700012  490.000000  482.000000  490.000000
           GPS     15.855183   20.969999   21.110001   20.850000   21.000000
           SBUX    13.613945   15.285000   15.835000   15.142500   15.822500
2005-01-04 C      389.661926  478.600006  487.700012  477.000000  482.799988
           GPS     15.613241   20.650000   20.990000   20.540001   20.910000
           SBUX    13.605036   15.275000   15.585000   15.227500   15.422500
2005-01-05 C      394.546906  484.600006  487.799988  480.200012  480.500000
           GPS     15.681289   20.740000   20.930000   20.530001   20.559999
           SBUX    13.716370   15.400000   15.550000   15.155000   15.252500
2005-01-06 C      398.373596  489.299988  492.399994  487.399994  488.000000
           GPS     15.840067   20.950001   21.430000   20.889999   21.150000
           SBUX    13.302209   14.935000   15.042500   14.525000   14.897500
2005-01-07 C      396.093994  486.500000  491.100006  486.000000  491.000000
           GPS     15.666165   20.719999   20.950001   20.620001   20.709999
           SBUX    13.286622   14.917500   15.112500   14.762500   15.000000
2005-01-10 C      393.569946  483.399994  487.399994  480.200012  485.100006
           GPS     15.809821   20.910000   20.950001   20.610001   20.680000
           SBUX    12.876914   14.457500   14.900000   14.400000   14.842500
2005-01-11 C      392.592957  482.200012  484.799988  480.200012  483.299988
           GPS     15.749328   20.830000   20.900000   20.680000   20.820000
           SBUX    12.778937   14.347500   14.415000   13.912500   14.312500
2005-01-12 C      391.371796  480.700012  481.899994  477.100006  481.000000
           GPS     15.855183   20.969999   20.980000   20.700001   20.799999
           SBUX    12.696552   14.255000   14.507500   14.052500   14.347500
2005-01-13 C      387.545074  476.000000  482.799988  474.500000  480.000000
           GPS     15.673722   20.730000   20.930000   20.709999   20.870001
           SBUX    12.329146   13.842500   14.197500   13.785000   14.105000
2005-01-14 C      386.812317  475.100006  478.500000  474.600006  477.500000
           GPS     15.840067   20.950001   21.160000   20.650000   20.700001
           SBUX    12.516188   14.052500   14.227500   13.787500   13.815000
...                      ...         ...         ...         ...         ...
2017-09-29 C       72.739998   72.739998   72.900002   72.360001   72.550003
           FNFV    17.150000   17.150000   17.549999   17.150000   17.500000
           GPS     29.299768   29.530001   29.680000   29.290001   29.610001
           HPE     14.710000   14.710000   14.750000   14.540000   14.600000
           SBUX    53.709999   53.709999   54.470001   53.360001   54.310001
2017-10-02 C       73.800003   73.800003   73.889999   72.910004   73.070000
           FNFV    17.799999   17.799999   17.850000   17.049999   17.250000
           GPS     29.270000   29.500000   29.570000   28.650000   29.320000
           HPE     14.970000   14.970000   15.000000   14.650000   14.680000
           SBUX    53.810001   53.810001   54.040001   53.750000   53.860001
2017-10-03 C       74.129997   74.129997   74.379997   73.849998   73.980003
           FNFV    17.549999   17.549999   17.799999   17.450001   17.700001
           GPS     28.959999   28.959999   29.459999   28.709999   29.360001
           HPE     14.690000   14.690000   14.987000   14.620000   14.970000
           SBUX    53.990002   53.990002   54.340000   53.900002   54.000000
2017-10-04 C       74.059998   74.059998   74.739998   73.930000   74.180000
           FNFV    17.549999   17.549999   17.825001   17.350000   17.600000
           GPS     28.990000   28.990000   29.700001   28.860001   29.040001
           HPE     14.800000   14.800000   14.890000   14.550000   14.700000
           SBUX    53.930000   53.930000   54.200001   53.689999   54.119999
2017-10-05 C       75.720001   75.720001   75.930000   73.849998   74.070000
           FNFV    18.200001   18.200001   18.200001   17.500000   17.650000
           GPS     29.580000   29.580000   29.690001   28.799999   28.900000
           HPE     14.830000   14.830000   14.960000   14.760000   14.840000
           SBUX    54.599998   54.599998   54.970001   53.919998   54.060001
2017-10-06 C       75.639999   75.639999   76.019997   75.099998   75.809998
           FNFV    18.049999   18.049999   18.299999   17.950001   18.200001
           GPS     29.389999   29.389999   29.639999   29.170000   29.260000
           HPE     14.800000   14.800000   14.850000   14.580000   14.790000
           SBUX    55.169998   55.169998   55.450001   54.250000   54.509998

                      Volume
Date       minor
2005-01-03 C       1474600.0
           GPS     5749900.0
           SBUX   22233600.0
2005-01-04 C       1584700.0
           GPS     7543300.0
           SBUX   15898800.0
2005-01-05 C       1893300.0
           GPS     7097700.0
           SBUX   17782800.0
2005-01-06 C       1804900.0
           GPS     9183000.0
           SBUX   39010400.0
2005-01-07 C       1280300.0
           GPS     4340500.0
           SBUX   13331600.0
2005-01-10 C       1699800.0
           GPS    11016700.0
           SBUX   25521200.0
2005-01-11 C       1295200.0
           GPS     3329300.0
           SBUX   31043200.0
2005-01-12 C       1612300.0
           GPS     2751400.0
           SBUX   17901600.0
2005-01-13 C       1543300.0
           GPS     3513700.0
           SBUX   23740000.0
2005-01-14 C       1141100.0
           GPS     6750600.0
           SBUX   21268800.0
...                      ...
2017-09-29 C      12777300.0
           FNFV     368000.0
           GPS     3433300.0
           HPE     6736900.0
           SBUX   11944400.0
2017-10-02 C      13386300.0
           FNFV     927900.0
           GPS     5749300.0
           HPE    13719600.0
           SBUX    5956000.0
2017-10-03 C      11925100.0
           FNFV    1289500.0
           GPS     3446200.0
           HPE    10203600.0
           SBUX    6137100.0
2017-10-04 C      12904100.0
           FNFV    4807600.0
           GPS     5215500.0
           HPE     7636300.0
           SBUX    5569100.0
2017-10-05 C      19701200.0
           FNFV    2493600.0
           GPS     4591900.0
           HPE     7074400.0
           SBUX    7994300.0
2017-10-06 C      16091100.0
           FNFV     299100.0
           GPS     4224100.0
           HPE    11824800.0
           SBUX   10565000.0

[10969 rows x 6 columns]

In [14]:
close.to_csv('Lab_3Companies.csv',encoding='utf-8')

In [339]:
import urllib

def get_symbol(name):

    url = "http://d.yimg.com/autoc.finance.yahoo.com/autoc?query={}&region=1&lang=en".format(name)
    #http://d.yimg.com/autoc.finance.yahoo.com/autoc?query=apple®ion=1&lang=en"
    jsonurl = urllib.request.urlopen(url)
    data = json.loads(jsonurl.read())
    
    print (data['ResultSet']['Result'])
    #result = request.get(url)
    #print (result)
#for x in result['ResultSet']['Result']:
#    print (x)
          #  if x['name'] == name :
          #      if (x['exchDisp']=='NYSE'or x['exchDisp']=='NASDAQ'):
          #          if x['typeDisp']=='Equity':
          #              return x['symbol']

##company = get_symbol("twitter")
##print(company)
#ticker=[]

##for xyz in cmp_name:
##  ticker = get_symbol(xyz)
##    print(ticker)
    
#for xyz in cmp_name:
   # ticker.append(get_symbol(xyz))
    
    
#print(ticker)
                  # print (x)

In [340]:
import urllib.request

#json_data = urllib.request.urlopen('http://d.yimg.com/autoc.finance.yahoo.com/autoc?query=apple&region=1&lang=en')

def get_symbol(name):
    
    my_list = df1.Entity.tolist()
    #print(my_list)
    
    for xyz in my_list:
        url = "http://d.yimg.com/autoc.finance.yahoo.com/autoc?query=@&region=1&lang=en".format(name)
        url = url.replace("@",str(xyz))
        url = url.replace (" ","%20")
        print(url)

        # returns a utf-8 'bytes' object which still can't be processed
        #json_data = urllib.request.urlopen(url).read()

        # decode into a string
        #str_json_data = json_data.decode('utf-8')

        #json_dict = json.loads(str_json_data)

In [246]:

for x in df.iloc[ :2].Entity:
     print(x)
#df.loc[: ].Entity

0
AOL

In [341]:
my_list = df1.Entity.tolist()
for xyz in my_list:
    print (xyz)

AOL
Automatic Data Processing
Ameritrade Inc.
Citigroup
Cardsystems Solutions Inc.
Hewlett Packard
Countrywide Financial Corp
KDDI
T-Mobile, Deutsche Telecom
AOL
US Dept of Vet Affairs
Texas Lottery
City and Hackney Teaching Primary Care Trust
Gap Inc
Compass Bank
Monster.com
Driving Standards Agency
Driving Standards Agency,
Hannaford Brothers Supermarket Chain
TD Ameritrade
Fidelity National Information Services

# Accessing the ticker sybols & historical stock price of publicly listed companies

In [9]:
import urllib.request
import pandas_datareader.data as web

def get_symbol(json_dict):
    #print (json_dict)
    resultList = json_dict['ResultSet']['Result']
    #print(len(resultList))
    if (len(resultList) > 0):
        #print(resultList)
        resultNAS = json_dict['ResultSet']['Result']
        for x in resultNAS:
            if (x['exch'] == 'NAS' or x['exch'] == 'NYSE'):
                return x['symbol']
    
        
def get_price(symbol):
    start = datetime.datetime(2004, 1, 1)
    end = datetime.datetime.today()
    f = web.DataReader(symbol, 'yahoo', start, end)
    df5 = f.to_frame()
    #print(df5)
    
def get_monthly_price(tickers):    
    data = web.get_data_yahoo(tickers,'01/01/2004','08/30/2017',interval='m')
    return data
        
    
my_list = df1.Entity.tolist()
tickers = []  
for xyz in my_list:
    url = "http://d.yimg.com/autoc.finance.yahoo.com/autoc?query=@&region=1&lang=en"
    url = url.replace("@",str(xyz))
    url = url.replace (" ","%20")
    
    try:
        # returns a utf-8 'bytes' object which still can't be processed
        json_data = urllib.request.urlopen(url).read()

        
        # decode into a string
        str_json_data = json_data.decode('utf-8')
        json_dict = json.loads(str_json_data)
    except:
        #print ('Cannot read JSON from URL:')
        #print (url)
        continue
    else:
        symbol = get_symbol(json_dict)
        if not (symbol is None):
            tickers.append(symbol)

print(len(tickers))
pricing_data_tickers = get_monthly_price(tickers)

24

C:\Users\MuhammadAdeel\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'AOLAX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\MuhammadAdeel\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'ADPCX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\MuhammadAdeel\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'GPSIX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\MuhammadAdeel\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'FISMX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\MuhammadAdeel\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'HRTVX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\MuhammadAdeel\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'SBSIX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\MuhammadAdeel\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'NHSAX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\MuhammadAdeel\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'GPNIX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\MuhammadAdeel\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'AAPL', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\MuhammadAdeel\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'FBIOX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\MuhammadAdeel\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'AABAX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\MuhammadAdeel\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'HDP', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\MuhammadAdeel\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'TGTRX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\MuhammadAdeel\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'IRSLX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\MuhammadAdeel\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'MSPYX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\MuhammadAdeel\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'FLINGX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\MuhammadAdeel\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'VKMMX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\MuhammadAdeel\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'DGXCX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\MuhammadAdeel\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'ATGYX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)
C:\Users\MuhammadAdeel\Anaconda3\lib\site-packages\pandas_datareader\yahoo\daily.py:136: SymbolWarning: Failed to read symbol: 'CEXAX', replacing with NaN.
  warnings.warn(msg.format(sym), SymbolWarning)

RemoteDataError: No data fetched using 'YahooDailyReader'

In [343]:
pricing_data_tickers

<class 'pandas.core.panel.Panel'>
Dimensions: 6 (items) x 164 (major_axis) x 4 (minor_axis)
Items axis: Adj Close to Volume
Major_axis axis: 2004-01-01 00:00:00 to 2017-08-01 00:00:00
Minor_axis axis: ADPCX to GPSIX

# Transfering the ticker contents to a dataframe

In [326]:
closing_price = pricing_data_tickers.ix['Close']

# Checking the top 10 rows of our new ticker dataset named closing_price

In [327]:
closing_price.head(10)

,AABAX,ADPCX,AOLAX,ATGYX,CEXAX,FBIOX,FISMX,FLINGX,GPNIX,GPSIX,HDP,HRTVX,IRSLX,MSPYX,NHSAX,SBSIX,TGTRX,VKMMX
Date,,,,,,,,,,,,,,,,,,
2004-01-01,NaN,12.78,NaN,25.740000,NaN,53.320000,19.500000,NaN,NaN,NaN,NaN,53.730000,NaN,NaN,NaN,NaN,NaN,14.89
2004-02-01,NaN,12.82,NaN,26.100000,NaN,55.389999,20.170000,NaN,NaN,NaN,NaN,54.720001,NaN,NaN,NaN,NaN,NaN,15.14
2004-03-01,NaN,12.84,NaN,26.510000,NaN,56.599998,20.840000,NaN,NaN,NaN,NaN,54.020000,NaN,NaN,NaN,NaN,NaN,14.94
2004-04-01,NaN,12.69,NaN,25.600000,NaN,58.560001,20.160000,NaN,NaN,NaN,NaN,51.869999,NaN,NaN,NaN,NaN,NaN,14.51
2004-05-01,NaN,12.63,NaN,26.309999,NaN,58.549999,19.940001,NaN,NaN,NaN,NaN,51.669998,NaN,NaN,NaN,NaN,NaN,14.40
2004-06-01,NaN,12.61,NaN,26.530001,NaN,58.779999,20.860001,NaN,NaN,NaN,NaN,53.279999,NaN,NaN,NaN,NaN,NaN,14.42
2004-07-01,NaN,12.64,NaN,24.980000,NaN,52.049999,19.670000,NaN,NaN,NaN,NaN,49.119999,NaN,NaN,NaN,NaN,NaN,14.55
2004-08-01,NaN,12.68,NaN,24.889999,NaN,52.619999,19.709999,NaN,NaN,NaN,NaN,46.200001,NaN,NaN,NaN,NaN,NaN,14.76
2004-09-01,NaN,12.66,NaN,25.730000,NaN,54.830002,20.219999,NaN,NaN,NaN,NaN,48.250000,NaN,NaN,NaN,NaN,NaN,14.81
2004-10-01,NaN,12.67,NaN,26.309999,NaN,53.360001,21.350000,NaN,NaN,NaN,NaN,48.430000,NaN,NaN,NaN,NaN,NaN,14.86

# Filling the null values with zero

In [334]:
closing_price.fillna(0)

,AABAX,ADPCX,AOLAX,ATGYX,CEXAX,FBIOX,FISMX,FLINGX,GPNIX,GPSIX,HDP,HRTVX,IRSLX,MSPYX,NHSAX,SBSIX,TGTRX,VKMMX
Date,,,,,,,,,,,,,,,,,,
2004-01-01,0.00,12.78,0.00,25.740000,0.00,53.320000,19.500000,0.0,0.00,0.00,0.000000,53.730000,0.00,0.00,0.00,0.00,0.00,14.89
2004-02-01,0.00,12.82,0.00,26.100000,0.00,55.389999,20.170000,0.0,0.00,0.00,0.000000,54.720001,0.00,0.00,0.00,0.00,0.00,15.14
2004-03-01,0.00,12.84,0.00,26.510000,0.00,56.599998,20.840000,0.0,0.00,0.00,0.000000,54.020000,0.00,0.00,0.00,0.00,0.00,14.94
2004-04-01,0.00,12.69,0.00,25.600000,0.00,58.560001,20.160000,0.0,0.00,0.00,0.000000,51.869999,0.00,0.00,0.00,0.00,0.00,14.51
2004-05-01,0.00,12.63,0.00,26.309999,0.00,58.549999,19.940001,0.0,0.00,0.00,0.000000,51.669998,0.00,0.00,0.00,0.00,0.00,14.40
2004-06-01,0.00,12.61,0.00,26.530001,0.00,58.779999,20.860001,0.0,0.00,0.00,0.000000,53.279999,0.00,0.00,0.00,0.00,0.00,14.42
2004-07-01,0.00,12.64,0.00,24.980000,0.00,52.049999,19.670000,0.0,0.00,0.00,0.000000,49.119999,0.00,0.00,0.00,0.00,0.00,14.55
2004-08-01,0.00,12.68,0.00,24.889999,0.00,52.619999,19.709999,0.0,0.00,0.00,0.000000,46.200001,0.00,0.00,0.00,0.00,0.00,14.76
2004-09-01,0.00,12.66,0.00,25.730000,0.00,54.830002,20.219999,0.0,0.00,0.00,0.000000,48.250000,0.00,0.00,0.00,0.00,0.00,14.81
2004-10-01,0.00,12.67,0.00,26.309999,0.00,53.360001,21.350000,0.0,0.00,0.00,0.000000,48.430000,0.00,0.00,0.00,0.00,0.00,14.86
2004-11-01,0.00,12.60,0.00,27.570000,0.00,53.669998,23.070000,0.0,0.00,0.00,0.000000,52.110001,0.00,0.00,0.00,0.00,0.00,14.64
2004-12-01,0.00,12.60,0.00,28.450001,0.00,57.650002,23.280001,0.0,0.00,0.00,0.000000,49.810001,0.00,0.00,0.00,0.00,0.00,14.81
2005-01-01,0.00,12.57,0.00,27.799999,0.00,53.939999,24.000000,0.0,0.00,0.00,0.000000,47.740002,0.00,0.00,0.00,0.00,0.00,14.93
2005-02-01,0.00,12.51,0.00,28.030001,0.00,49.040001,25.299999,0.0,0.00,0.00,0.000000,48.279999,0.00,0.00,0.00,0.00,0.00,14.80
2005-03-01,0.00,12.46,0.00,27.320000,0.00,48.400002,24.600000,0.0,0.00,0.00,0.000000,47.270000,0.00,0.00,0.00,0.00,0.00,14.58
2005-04-01,0.00,12.48,0.00,26.180000,0.00,51.270000,24.400000,0.0,0.00,0.00,0.000000,44.150002,0.00,0.00,0.00,0.00,0.00,14.78
2005-05-01,0.00,12.49,0.00,27.629999,0.00,54.139999,23.650000,0.0,0.00,0.00,0.000000,45.660000,0.00,0.00,0.00,0.00,0.00,14.84
2005-06-01,0.00,12.47,0.00,28.250000,0.00,54.520000,24.820000,0.0,0.00,0.00,0.000000,47.020000,0.00,0.00,0.00,0.00,0.00,14.89
2005-07-01,0.00,12.42,0.00,29.879999,0.00,59.570000,25.940001,0.0,0.00,0.00,0.000000,49.980000,0.00,0.00,0.00,0.00,0.00,14.73
2005-08-01,0.00,12.44,0.00,29.760000,0.00,59.970001,27.219999,0.0,0.00,0.00,0.000000,49.669998,0.00,0.00,0.00,0.00,0.00,14.87
2005-09-01,0.00,12.38,0.00,29.680000,0.00,59.680000,28.299999,0.0,0.00,0.00,0.000000,50.529999,0.00,0.00,0.00,0.00,0.00,14.71
2005-10-01,0.00,12.33,0.00,28.870001,0.00,58.209999,26.879999,0.0,0.00,0.00,0.000000,49.049999,0.00,0.00,0.00,0.00,0.00,14.56
2005-11-01,0.00,12.32,0.00,30.420000,0.00,61.320000,27.860001,0.0,0.00,0.00,0.000000,50.430000,0.00,0.00,0.00,0.00,0.00,14.58
2005-12-01,0.00,12.32,0.00,30.080000,0.00,62.700001,26.969999,0.0,0.00,0.00,0.000000,44.799999,0.00,0.00,0.00,0.00,0.00,14.67
2006-01-01,0.00,12.31,0.00,31.240000,0.00,65.300003,29.410000,0.0,0.00,0.00,0.000000,49.189999,0.00,0.00,0.00,0.00,0.00,14.65
2006-02-01,0.00,12.29,0.00,31.230000,0.00,68.050003,28.959999,0.0,0.00,0.00,0.000000,49.630001,0.00,0.00,0.00,0.00,0.00,14.72
2006-03-01,0.00,12.25,0.00,32.660000,0.00,66.500000,30.559999,0.0,0.00,0.00,0.000000,52.459999,0.00,0.00,0.00,0.00,0.00,14.60
2006-04-01,0.00,12.25,0.00,32.709999,0.00,62.380001,32.529999,0.0,0.00,0.00,0.000000,53.230000,0.00,0.00,0.00,0.00,0.00,14.53
2006-05-01,0.00,12.22,0.00,31.540001,0.00,60.410000,30.000000,0.0,0.00,0.00,0.000000,51.119999,0.00,0.00,0.00,0.00,0.00,14.56
2006-06-01,0.00,12.20,0.00,31.129999,0.00,60.939999,28.950001,0.0,0.00,0.00,0.000000,51.180000,0.00,0.00,0.00,0.00,0.00,14.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2015-03-01,13.86,11.75,0.00,49.759998,9.40,256.709991,22.830000,0.0,0.00,10.05,23.840000,44.029999,10.94,11.49,9.94,0.00,12.43,13.75
2015-04-01,13.86,11.75,0.00,49.590000,9.38,236.820007,24.100000,0.0,0.00,10.14,20.170000,43.400002,11.00,11.37,10.01,0.00,12.51,13.63
2015-05-01,13.92,11.75,0.00,50.740002,9.22,264.559998,24.180000,0.0,0.00,10.59,26.270000,42.759998,11.04,11.31,10.01,0.00,12.49,13.54
2015-06-01,13.70,11.73,0.00,50.049999,8.91,271.309998,24.059999,0.0,0.00,10.42,25.320000,43.150002,10.85,11.25,9.89,0.00,12.28,13.46
2015-07-01,13.80,11.73,0.00,50.880001,8.57,278.730011,24.110001,0.0,0.00,10.49,24.260000,40.820000,10.95,11.31,9.82,0.00,12.10,13.51
2015-08-01,13.37,11.72,0.00,48.919998,8.27,248.350006,22.959999,0.0,0.00,9.76,23.760000,38.619999,10.51,11.30,9.67,0.00,11.63,13.50
2015-09-01,13.11,11.72,0.00,46.779999,7.84,217.669998,22.360001,0.0,0.00,9.28,21.889999,36.619999,10.16,11.33,9.46,0.00,11.33,13.55
2015-10-01,13.60,11.71,9.53,48.830002,8.19,231.839996,23.059999,0.0,0.00,9.51,19.459999,38.639999,10.76,11.34,9.63,0.00,11.68,13.56
2015-11-01,13.59,11.68,9.53,48.779999,8.04,247.250000,22.879999,0.0,0.00,9.65,16.990000,40.189999,10.75,11.36,9.47,11.27,11.84,13.58
2015-12-01,12.70,11.65,0.00,47.369999,7.31,235.899994,22.120001,0.0,0.00,9.13,21.900000,35.980000,10.57,11.43,9.29,11.09,11.48,13.64
2016-01-01,12.41,11.70,0.00,44.799999,6.81,171.080002,20.780001,0.0,0.00,8.19,9.700000,33.070000,10.18,11.49,9.23,10.32,11.32,13.72
2016-02-01,12.44,11.69,0.00,45.160000,6.99,162.059998,20.830000,0.0,0.00,8.20,11.550000,32.830002,10.14,11.45,9.28,10.19,10.92,13.70
2016-03-01,12.92,11.71,0.00,47.520000,7.61,168.779999,22.590000,0.0,0.00,8.37,11.300000,34.650002,10.64,11.51,9.41,11.06,11.40,13.75
2016-04-01,12.93,11.71,0.00,47.619999,7.95,171.639999,22.830000,0.0,0.00,8.92,11.570000,36.049999,10.75,11.57,9.54,11.30,11.43,13.81
2016-05-01,12.99,11.69,0.00,48.680000,7.79,184.389999,23.110001,0.0,0.00,8.97,11.680000,35.639999,10.81,11.59,9.55,11.45,11.33,13.84
2016-06-01,13.03,11.76,0.00,49.139999,7.75,168.949997,22.740000,0.0,0.00,8.80,10.690000,35.360001,10.82,11.75,9.54,10.81,11.36,14.03
2016-07-01,13.33,11.75,0.00,50.779999,8.21,188.679993,23.790001,0.0,0.00,9.17,11.710000,37.480000,11.13,11.70,9.64,11.62,11.28,13.98
2016-08-01,13.31,11.72,0.00,50.540001,8.20,182.619995,24.110001,0.0,15.40,9.08,7.970000,38.060001,11.14,11.69,9.71,11.65,11.39,13.97
2016-09-01,13.27,11.73,0.00,50.410000,8.03,191.899994,24.900000,0.0,15.38,9.00,8.350000,39.419998,11.19,11.58,9.71,11.91,11.24,13.85
2016-10-01,13.04,11.71,0.00,49.360001,7.88,167.619995,24.230000,0.0,15.35,8.99,7.640000,36.990002,10.99,11.45,9.70,11.76,11.70,13.65
2016-11-01,13.20,11.66,0.00,50.070000,8.42,184.330002,23.610001,0.0,15.08,8.99,9.090000,40.250000,11.09,10.97,9.65,11.47,11.71,13.06
2016-12-01,12.89,11.66,0.00,50.270000,8.43,174.050003,23.299999,0.0,15.03,8.99,8.310000,40.410000,11.02,11.02,9.70,11.51,12.09,13.11
2017-01-01,13.05,11.67,0.00,50.950001,8.72,185.009995,24.209999,0.0,14.97,8.99,9.700000,40.049999,11.21,11.03,9.73,12.02,12.05,13.15
2017-02-01,13.31,11.67,0.00,52.700001,8.80,203.210007,24.660000,0.0,15.00,0.00,9.940000,39.980000,11.46,11.08,9.77,12.22,12.30,13.22
2017-03-01,13.30,11.66,0.00,52.980000,8.63,201.529999,25.340000,0.0,14.96,0.00,9.810000,39.939999,11.51,11.08,9.73,12.48,12.54,13.23
2017-04-01,13.40,11.68,0.00,53.930000,8.70,203.850006,26.270000,0.0,14.99,0.00,10.410000,40.029999,11.64,11.11,9.78,12.90,12.46,13.28
2017-05-01,13.46,11.70,0.00,54.700001,8.38,190.309998,27.120001,0.0,15.02,0.00,12.360000,39.340000,11.79,11.22,9.80,13.19,12.26,13.44
2017-06-01,13.48,11.67,0.00,54.840000,8.41,211.110001,27.600000,0.0,14.94,0.00,12.880000,41.360001,11.83,11.18,9.76,13.20,12.30,13.39
2017-07-01,13.63,11.69,0.00,56.040001,8.43,216.690002,28.500000,0.0,14.95,0.00,13.400000,41.169998,12.04,11.21,9.78,13.81,12.23,13.42
2017-08-01,13.67,11.69,0.00,55.240002,8.18,228.259995,28.719999,0.0,15.00,0.00,16.990000,40.689999,12.09,11.24,9.75,13.98,12.20,13.48

In [336]:
closing_price.to_csv('Stocks_PriceData.csv',index=True,encoding='utf-8')

# Inserting the ticker symbols column in the dataset

In [337]:
frame_tickers= pd.DataFrame(tickers)
frame_tickers['Symbol']=pd.Series(tickers,index=frame_tickers.index)
df1['Symbol']=frame_tickers['Symbol']
df1 = df1.dropna(axis=0,how='any')
df1.head()

,Entity,Year,Records Lost,Organization,Method of Leak,Sensitivity,Symbol
1,AOL,2004,92000000,web,inside job,1,ADPCX
2,Automatic Data Processing,2005,125000,financial,poor security,20,AOLAX
3,Ameritrade Inc.,2005,200000,financial,lost / stolen device,20,GPSIX
4,Citigroup,2005,3900000,financial,lost / stolen device,300,FISMX
5,Cardsystems Solutions Inc.,2005,40000000,financial,hacked,300,HRTVX

In [332]:
df1.to_csv('Lab_3Entity_Sysmbol.csv',encoding='utf-8')

# Tableau Workbook Visualization 1

https://public.tableau.com/views/Lab3_92/BreachvsStockPrice?:embed=y&:display_count=yes

# Tableau Workbook Dashboard Story Final Visualization

https://public.tableau.com/views/Lab3_92/FinancialMarketsDontAffectDataBreaches?:embed=y&:display_count=yes&publish=yes

The above 3 visuals confirm the fact that financial markets did not affect the data breaches as severely as percieved to be.
However, the cost of informing users and managing the reputation of the company have been increasingly becoming sensitive as the 
companies had to spend huge resources in safeguarding the interests of all the stakeholders during and after the data breach

In [ ]:
https://public.tableau.com/views/Lab3_92/StockPriceFluctuation?:embed=y&:display_count=yes